openapi: 3.0.0
info:
  title: MLTR
  description: Description
  version: 0.1.9

servers:
  - url: "https://back.mltr.app/"
    description: production server
  - url: http://localhost:8001/
    description: local server

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
paths:
  # User routes
  # Register user
  /auth/register:
    post:
      tags:
        - Auth
      summary: User Register
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                login:
                  type: string
                  required: true
                username:
                  type: string
                  required: true
                sex:
                  type: string
                  required: true
                birth:
                  type: string
                  required: true
                height:
                  type: number
                  required: true
                is_ft_heigth:
                  type: boolean
                  required: true
                body_type:
                  type: string
                  required: true
                physical_activities:
                  type: string
                  required: true
                weight:
                  type: number
                  required: true
                is_ft_weight:
                  type: boolean
                  required: true
                protein:
                  type: number
                  required: true
                calories:
                  type: number
                  required: true
                carbs:
                  type: number
                  required: true
                fat:
                  type: number
                  required: true
                customGoal:
                  type: boolean
                  required: true
                count_in_serving:
                  type: number
                  required: true
            example:
              login: "john@gmail.com"
              username: "john"
              sex: "male"
              birth: "1990/01/01"
              height: 183
              is_ft_heigth: true
              body_type: "Athletic"
              physical_activities: "Swimming"
              weight: 95
              is_ft_weight: true
              count_in_serving: 1
              protein: 200
              calories: 2000
              carbs: 800
              fat: 250
              customGoal: true
      responses:
        '200':
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '93'
            ETag:
              schema:
                type: string
                example: W/"5d-aD8WyJaYFxTxuDJl+MvRYlkdoqU"
            Date:
              schema:
                type: string
                example: Sun, 28 May 2023 07:45:37 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                message: User updated, confirmation code sent to email
                user: omar.jalagania@gmail.com
  # Get Confirmation code
  /auth/get-code:
    post:
      summary: Get confirmation code
      tags:
        - Auth
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                login:
                  type: string
                  required: true
            example:
              login: "john@gmail.com"
      responses:
        "201":
          description: Sends confirmation code to email
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  user:
                    type: string
                example:
                  message: "Confirmation code sent to email"
                  user: "john@gmail.com"
  # User login
  /auth/login:
    post:
      summary: Login user with code confirmation
      tags:
        - Auth
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                login:
                  type: string
                  required: true
                code:
                  type: string
                  required: true
            example:
              login: "john@gmail.com"
              code: "asda1231xs534"
      responses:
        "201":
          description: Returns message and user information
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  token:
                    type: string
                  _id:
                    type: string
                  email:
                    type: string
                  username:
                    type: string
                  sex:
                    type: string
                  birth:
                    type: string
                  height:
                    type: number
                  is_ft_heigth:
                    type: boolean
                  body_type:
                    type: string
                  physical_activities:
                    type: string
                  weight:
                    type: number
                  is_ft_weight:
                    type: boolean
                  protein:
                    type: number
                  calories:
                    type: number
                  carbs:
                    type: number
                  fat:
                    type: number
                  customGoal:
                    type: boolean
                  count_in_serving:
                  type: number
                  required: true
                example:
                  message: "User Logged in"
                  token: "eyJhbGciOiJIU1NzA0MzQyOCwiZX-E7VSXu7C2ZcT-uyCyjzXp2FiNrs_xCKwV8"
                  _id: "644902722f47001d32e7f02v"
                  email: "john@gmail.com"
                  username: "John"
                  sex: "male"
                  birth: "1990/01/01"
                  height: 183
                  is_ft_heigth: true
                  body_type: "Athletic"
                  physical_activities: "Swimming"
                  weight: 95
                  is_ft_weight: true
                  protein: 200
                  calories: 2000
                  carbs: 800
                  fat: 250
                  customGoal: true
  # Login with google
  /auth/google-login:
    post:
      summary: Login with Google
      tags:
        - Auth
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                login:
                  type: string
                  required: true
            example:
              login: "john@gmail.com"
      responses:
        "200":
          description: Returns message and token
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  token:
                    type: string
                  _id:
                    type: string
                  email:
                    type: string
                  username:
                    type: string
                  sex:
                    type: string
                  birth:
                    type: string
                  height:
                    type: number
                  is_ft_heigth:
                    type: boolean
                  body_type:
                    type: string
                  physical_activities:
                    type: string
                  weight:
                    type: number
                  is_ft_weight:
                    type: boolean
                  protein:
                    type: number
                  calories:
                    type: number
                  carbs:
                    type: number
                  fat:
                    type: number
                  customGoal:
                    type: boolean
                example:
                  message: "User logged in"
                  token: "mMwZDMwZWYzZDkzOGVlNmEiLCJuYW1lIj"
                  _id: "754d3a829c3f78035f4b23ds"
                  email: "john@gmail.com"
                  username: "john"
                  sex: "male"
                  birth: "1990/01/01"
                  height: 183
                  is_ft_heigth: true
                  body_type: "Athletic"
                  physical_activities: "Swimming"
                  weight: 95
                  is_ft_weight: true
                  protein: 200
                  calories: 2000
                  carbs: 800
                  fat: 250
                  customGoal: true
  # Register user with google
  /auth/google-register:
    post:
      tags:
        - Auth
      summary: Register with google
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                login:
                  type: string
                  required: true
                username:
                  type: string
                  required: true
                sex:
                  type: string
                  required: true
                birth:
                  type: string
                  required: true
                height:
                  type: number
                  required: true
                is_ft_heigth:
                  type: boolean
                  required: true
                body_type:
                  type: string
                  required: true
                physical_activities:
                  type: string
                  required: true
                weight:
                  type: number
                  required: true
                is_ft_weight:
                  type: boolean
                  required: true
                protein:
                  type: number
                  required: true
                calories:
                  type: number
                  required: true
                carbs:
                  type: number
                  required: true
                fat:
                  type: number
                  required: true
                customGoal:
                  type: boolean
                  required: true
            example:
              login: "john@gmail.com"
              username: "john"
              sex: "male"
              birth: "1990/01/01"
              height: 183
              is_ft_heigth: true
              body_type: "Athletic"
              physical_activities: "Swimming"
              weight: 95
              is_ft_weight: true
              protein: 200
              calories: 2000
              carbs: 800
              fat: 250
              customGoal: true
      responses:
        '201':
          description: Created
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '247'
            ETag:
              schema:
                type: string
                example: W/"f7-kMNRp6Ju0mReu/8CYyrMbCXijzI"
            Date:
              schema:
                type: string
                example: Sun, 28 May 2023 07:46:00 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                message: User updated and logged in
                token: >-
                  eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI2NDczMDVlZGMyM2M3Y2E3NGFlNTY2ZmEiLCJuYW1lIjoib21hcmkuamFsYWdhbmlhQGdtYWlsLmNvbSIsImlhdCI6MTY4NTI1OTk2MH0.sUEcCCQXEixiH2oGJIIfTqszItA6A4h0phvOCcABygs
  # Login with apple
  /auth/apple-login:
    post:
      summary: Create new user and login with Apple
      tags:
        - Auth
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                appleToken:
                  type: string
                  required: true
            example:
              appleToken: "dsjkfhskjhfljkhwhSDFSDFsdfsd"
      responses:
        "201":
          description: Returns message and token
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  token:
                    type: string
                  _id:
                    type: string
                  email:
                    type: string
                  username:
                    type: string
                  sex:
                    type: string
                  birth:
                    type: string
                  height:
                    type: number
                  is_ft_heigth:
                    type: boolean
                  body_type:
                    type: string
                  physical_activities:
                    type: string
                  weight:
                    type: number
                  is_ft_weight:
                    type: boolean
                  protein:
                    type: number
                  calories:
                    type: number
                  carbs:
                    type: number
                  fat:
                    type: number
                  customGoal:
                    type: boolean
                example:
                  message: "User logged in"
                  token: "mMwZDMwZWYzZDkzOGVlNmEiLCJuYW1lIj"
                  _id: "644902722f47001d32e7f02v"
                  email: "john@gmail.com"
                  username: "john"
                  sex: "male"
                  birth: "1990/01/01"
                  height: 183
                  is_ft_heigth: true
                  body_type: "Athletic"
                  physical_activities: "Swimming"
                  weight: 95
                  is_ft_weight: true
                  protein: 200
                  calories: 2000
                  carbs: 800
                  fat: 250
                  customGoal: true
  # Register user with apple
  /auth/apple-register:
    post:
      summary: Create new user and login with Apple
      tags:
        - Auth
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                login:
                  type: string
                  required: true
                appleToken:
                  type: string
                  required: true
                username:
                  type: string
                  required: true
                sex:
                  type: string
                  required: true
                birth:
                  type: string
                  required: true
                height:
                  type: number
                  required: true
                is_ft_heigth:
                  type: boolean
                  required: true
                body_type:
                  type: string
                  required: true
                physical_activities:
                  type: string
                  required: true
                weight:
                  type: number
                  required: true
                is_ft_weight:
                  type: boolean
                  required: true
                protein:
                  type: number
                  required: true
                calories:
                  type: number
                  required: true
                carbs:
                  type: number
                  required: true
                fat:
                  type: number
                  required: true
                customGoal:
                  type: boolean
                  required: true
            example:
              login: "john@gmail.com"
              appleToken: "dsjkfhskjhfljkhwhSDFSDFsdfsd"
              username: "john"
              sex: "male"
              birth: "1990/01/01"
              height: 183
              is_ft_heigth: true
              body_type: "Athletic"
              physical_activities: "Swimming"
              weight: 95
              is_ft_weight: true
              protein: 200
              calories: 2000
              carbs: 800
              fat: 250
              customGoal: true
      responses:
        "201":
          description: Returns message and token
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  token:
                    type: string
                  _id:
                    type: string
                  email:
                    type: string
                  username:
                    type: string
                  sex:
                    type: string
                  birth:
                    type: string
                  height:
                    type: number
                  is_ft_heigth:
                    type: boolean
                  body_type:
                    type: string
                  physical_activities:
                    type: string
                  weight:
                    type: number
                  is_ft_weight:
                    type: boolean
                  protein:
                    type: number
                  calories:
                    type: number
                  carbs:
                    type: number
                  fat:
                    type: number
                  customGoal:
                    type: boolean
                example:
                  message: "User Registered and logged in"
                  token: "mMwZDMwZWYzZDkzOGVlNmEiLCJuYW1lIj"
                  id: "644902722f47001d32e7f02v"
                  email: "john@gmail.com"
                  username: "john"
                  sex: "male"
                  birth: "1990/01/01"
                  height: 183
                  is_ft_heigth: true
                  body_type: "Athletic"
                  physical_activities: "Swimming"
                  weight: 95
                  is_ft_weight: true
                  protein: 200
                  calories: 2000
                  carbs: 800
                  fat: 250
                  customGoal: true
  # Update user information

  /auth/user-details/{userId}:
    get:
      tags:
        - User
      summary: Get user details
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          schema:
            type: string
          required: true
          example: 666fe17a39af8c353c778521
      responses:
        '200':
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '143475'
            ETag:
              schema:
                type: string
                example: W/"23073-sKw1KMnLO7VDu4btYyydXW2E9aQ"
            Date:
              schema:
                type: string
                example: Tue, 27 Aug 2024 06:41:16 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                - _id: 666fe17a39af8c353c778521
                  email: omar.jalagania@gmail.com
                  username: omar.jalagania
                  sex: Male
                  birth: '2021-12-31'
                  height: 170
                  is_ft_heigth: false
                  body_type: Normal
                  physical_activities: Exercise 1-3 days/week
                  weight: 80
                  is_ft_weight: false
                  protein: 64
                  calories: 2510.0625
                  carbs: 326.308125
                  fat: 56
                  customGoal: false
                  status: active
                  water: 2400
                  joined: '2024-06-17T07:10:50.478Z'
                  geo: ''
                  personal_goal: 0
                  newtags: []
                  userfoodhistories:
                    - _id: 66c5abbee1a1914714cf11c6
                      userId: 666fe17a39af8c353c778521
                      userFoodHistoryList:
                        - calories: 647.5
                          carbs: 9.7125
                          fat: 44.625
                          protein: 51.84375
                          water: 131.25
                          selectedDate: '2024-05-15'
                          foodList:
                            - myFoodId: '2'
                              pceCount: 1.75
                              _id: 66be72bea6a6e9bb0832febe
                          _id: 66be72bea6a6e9bb0832febd
                        - calories: 647.5
                          carbs: 9.7125
                          fat: 44.625
                          protein: 51.84375
                          water: 131.25
                          selectedDate: '2024-07-15'
                          foodList:
                            - myFoodId: '2'
                              pceCount: 1.75
                              _id: 66be72d6a6a6e9bb0832fef8
                          _id: 66be72d6a6a6e9bb0832fef7
                        - calories: 623.28
                          carbs: 125.49600000000001
                          fat: 2.5368
                          protein: 21.84
                          water: 100.80000000000001
                          selectedDate: '2024-08-14'
                          foodList:
                            - myFoodId: '12'
                              pceCount: 3
                              _id: 66be72e8a6a6e9bb0832ff37
                          _id: 66be72e8a6a6e9bb0832ff36
                      __v: 0
                  userfoodlists:
                    - _id: 66a113442ef05db73e1d0861
                      userId: 666fe17a39af8c353c778521
                      userFoodList:
                        - calories: 686
                          carbs: 11
                          createdDate: '2024-05-27T10:28:57.000Z'
                          eatsTimes: 0
                          fat: 11
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 13
                          tag: ''
                          water: 75
                          weight: 50
                          id: '82'
                          image: Served Food
                          name: Egg
                          servingName: ''
                          foodList:
                            - myFoodId: '66'
                              _id: 66a2096adf35abd2db5a5a4c
                            - pceCount: 32
                              _id: 66a2096adf35abd2db5a5a4d
                          _id: 66a0cd5d3fb7b2726f2b7b2b
                          count_in_serving: 1
                        - calories: 190
                          carbs: 28
                          createdDate: '2024-06-03T18:04:00.000Z'
                          eatsTimes: 0
                          fat: 7
                          isInFridge: true
                          isLiquid: false
                          isRemoved: false
                          isSet: false
                          protein: 6
                          tag: ''
                          water: 60
                          weight: 100
                          id: '121'
                          image: Served Food
                          name: Crepe
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5d3fb7b2726f2b7b30
                          count_in_serving: 1
                        - calories: 155
                          carbs: 11
                          createdDate: '2024-05-27T10:28:57.000Z'
                          eatsTimes: 0
                          fat: 11
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 13
                          tag: ''
                          water: 75
                          weight: 50
                          id: '101'
                          image: Served Food
                          name: Egg
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5d3fb7b2726f2b7b38
                          count_in_serving: 1
                        - calories: 33
                          carbs: 8
                          createdDate: '2024-06-07T12:16:50.000Z'
                          eatsTimes: 0
                          fat: 0.3
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 0.7
                          tag: ''
                          water: 91
                          weight: 90
                          id: '136'
                          image: Served Food
                          name: Strawberry
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5d3fb7b2726f2b7b48
                          count_in_serving: 1
                        - calories: 100
                          carbs: 21
                          createdDate: '2024-06-03T12:35:58.000Z'
                          eatsTimes: 0
                          fat: 6
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 1
                          tag: ''
                          water: 1
                          weight: 15
                          id: '117'
                          image: Served Food
                          name: Nutella
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5d3fb7b2726f2b7b41
                          count_in_serving: 1
                        - calories: 250
                          carbs: 0
                          createdDate: '2024-05-23T14:17:15.000Z'
                          eatsTimes: 0
                          fat: 17
                          isInFridge: true
                          isLiquid: true
                          isRemoved: true
                          isSet: false
                          protein: 26
                          tag: ''
                          water: 61
                          weight: 100
                          id: '45'
                          image: Custom
                          name: Beef
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5d3fb7b2726f2b7b4d
                          count_in_serving: 1
                        - calories: 0
                          carbs: 0
                          createdDate: '2024-06-03T11:42:56.000Z'
                          eatsTimes: 0
                          fat: 0
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 0
                          tag: ''
                          water: 0
                          weight: 100
                          id: '112'
                          image: Served Food
                          name: Toilet Paper
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5e3fb7b2726f2b7b6e
                          count_in_serving: 1
                        - calories: 30
                          carbs: 5
                          createdDate: '2024-06-14T15:08:16.000Z'
                          eatsTimes: 0
                          fat: 0
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 1
                          tag: ''
                          water: 90
                          weight: 50
                          id: '252'
                          image: Served Food
                          name: Cucumbers
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5e3fb7b2726f2b7b73
                          count_in_serving: 1
                        - calories: 539
                          carbs: 57.5
                          createdDate: '2024-05-23T14:14:06.000Z'
                          eatsTimes: 0
                          fat: 31.6
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 6.3
                          tag: ''
                          water: 1.5
                          weight: 30
                          id: '40'
                          image: Served Food
                          name: Nutella
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5e3fb7b2726f2b7b83
                          count_in_serving: 1
                        - calories: 45
                          carbs: 11
                          createdDate: '2024-05-24T22:32:56.000Z'
                          eatsTimes: 0
                          fat: 0
                          isInFridge: true
                          isLiquid: true
                          isRemoved: false
                          isSet: false
                          protein: 0.5
                          tag: ''
                          water: 88
                          weight: 250
                          id: '88'
                          image: Custom
                          name: Tropicana Orchard Apple Perfectly Pressed
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5e3fb7b2726f2b7b7b
                          count_in_serving: 1
                        - calories: 3
                          carbs: 1
                          createdDate: '2024-05-23T21:46:39.000Z'
                          eatsTimes: 0
                          fat: 0
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 1
                          tag: ''
                          water: 87
                          weight: 10
                          id: '73'
                          image: Served Food
                          name: Parsley
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5e3fb7b2726f2b7b8b
                          count_in_serving: 1
                        - calories: 143
                          carbs: 7
                          createdDate: '2024-05-27T10:29:17.000Z'
                          eatsTimes: 0
                          fat: 97
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 126
                          tag: ''
                          water: 753
                          weight: 50
                          id: '102'
                          image: Served Food
                          name: Egg
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5e3fb7b2726f2b7b5f
                          count_in_serving: 1
                        - calories: 1510
                          carbs: 62.400000000000006
                          createdDate: '2024-06-13T13:28:50.000Z'
                          eatsTimes: 0
                          fat: 69.19999999999999
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: true
                          protein: 107.19999999999999
                          tag: ''
                          water: 767.8
                          weight: 400
                          id: '208'
                          image: Served Food
                          name: 'Banana Lamb '
                          servingName: ''
                          foodList:
                            - myFoodId: '206'
                              pceCount: 1
                              _id: 66a0cd5e3fb7b2726f2b7ba6
                            - myFoodId: '207'
                              pceCount: 1
                              _id: 66a0cd5e3fb7b2726f2b7ba7
                          _id: 66a0cd5e3fb7b2726f2b7ba5
                          count_in_serving: 1
                        - calories: 78
                          carbs: 6
                          createdDate: '2024-06-03T11:45:07.000Z'
                          eatsTimes: 0
                          fat: 53
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 63
                          tag: ''
                          water: 74
                          weight: 50
                          id: '115'
                          image: Served Food
                          name: Egg
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5e3fb7b2726f2b7bc1
                          count_in_serving: 1
                        - calories: 0
                          carbs: 0
                          createdDate: '2024-06-07T13:27:06.000Z'
                          eatsTimes: 0
                          fat: 0
                          isInFridge: true
                          isLiquid: false
                          isRemoved: false
                          isSet: false
                          protein: 0
                          tag: ''
                          water: 60
                          weight: 100
                          id: '158'
                          image: Served Food
                          name: 'null'
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5e3fb7b2726f2b7bcf
                          count_in_serving: 1
                        - calories: 297
                          carbs: 11.75
                          createdDate: '2024-05-23T14:17:15.000Z'
                          eatsTimes: 1
                          fat: 17.12
                          isInFridge: true
                          isLiquid: false
                          isRemoved: false
                          isSet: true
                          protein: 26.94
                          tag: Green Set
                          water: 147.75
                          weight: 200
                          id: '46'
                          image: Served Food
                          name: Orange Beef  test
                          servingName: ''
                          foodList:
                            - myFoodId: '44'
                              pceCount: 1
                              _id: 66a0cd5e3fb7b2726f2b7c05
                            - myFoodId: '45'
                              pceCount: 1
                              _id: 66a0cd5e3fb7b2726f2b7c06
                          _id: 66a0cd5e3fb7b2726f2b7c04
                          count_in_serving: 1
                        - calories: 312
                          carbs: 41
                          createdDate: '2024-05-23T14:03:55.000Z'
                          eatsTimes: 0
                          fat: 15
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 4
                          tag: ''
                          water: 44
                          weight: 150
                          id: '36'
                          image: Served Food
                          name: Fried Potato
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5e3fb7b2726f2b7c14
                          count_in_serving: 1
                        - calories: 348
                          carbs: 15.7
                          createdDate: '2024-06-13T13:38:02.000Z'
                          eatsTimes: 2
                          fat: 16.1
                          isInFridge: true
                          isLiquid: false
                          isRemoved: false
                          isSet: true
                          protein: 22.6
                          tag: Light Blue Set
                          water: 212.9
                          weight: 280
                          id: '222'
                          image: Served Food
                          name: 'Smoked Salmon Avocado Cherry Tomato Mixed Salad '
                          servingName: ''
                          foodList:
                            - myFoodId: '218'
                              pceCount: 1
                              _id: 66a0cd5e3fb7b2726f2b7c31
                            - myFoodId: '219'
                              pceCount: 1
                              _id: 66a0cd5e3fb7b2726f2b7c32
                            - myFoodId: '220'
                              pceCount: 1
                              _id: 66a0cd5e3fb7b2726f2b7c33
                            - myFoodId: '221'
                              pceCount: 1
                              _id: 66a0cd5e3fb7b2726f2b7c34
                          _id: 66a0cd5e3fb7b2726f2b7c30
                          count_in_serving: 1
                        - calories: 32
                          carbs: 5.7
                          createdDate: '2024-05-24T21:50:38.000Z'
                          eatsTimes: 0
                          fat: 0.3
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 0.7
                          tag: ''
                          water: 89.9
                          weight: 100
                          id: '78'
                          image: Served Food
                          name: Strawberries
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5e3fb7b2726f2b7c42
                          count_in_serving: 1
                        - calories: 52
                          carbs: 1381
                          createdDate: '2024-05-24T23:29:12.000Z'
                          eatsTimes: 0
                          fat: 17
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 94
                          tag: ''
                          water: 8675
                          weight: 140
                          id: '95'
                          image: Served Food
                          name: Orange
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5e3fb7b2726f2b7c58
                          count_in_serving: 1
                        - calories: 350
                          carbs: 30
                          createdDate: '2024-05-23T21:45:42.000Z'
                          eatsTimes: 0
                          fat: 20
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 15
                          tag: ''
                          water: 30
                          weight: 100
                          id: '68'
                          image: Served Food
                          name: Cheese Sandwich
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5e3fb7b2726f2b7c6e
                          count_in_serving: 1
                        - calories: 400
                          carbs: 35
                          createdDate: '2024-06-17T13:48:10.000Z'
                          eatsTimes: 1
                          fat: 5
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 30
                          tag: ''
                          water: 10
                          weight: 3
                          id: '268'
                          image: Served Food
                          name: Seaweed
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5e3fb7b2726f2b7c7c
                          count_in_serving: 1
                        - calories: 404.2
                          carbs: 57.5
                          createdDate: '2024-05-23T14:14:06.000Z'
                          eatsTimes: 1
                          fat: 13.73
                          isInFridge: true
                          isLiquid: false
                          isRemoved: false
                          isSet: true
                          protein: 7.640000000000001
                          tag: ''
                          water: 288.2
                          weight: 380
                          id: '43'
                          image: Served Food
                          name: 'Nutella Strawberries Pancake '
                          servingName: ''
                          foodList:
                            - myFoodId: '40'
                              pceCount: 1
                              _id: 66a0cd5e3fb7b2726f2b7c8b
                            - myFoodId: '41'
                              pceCount: 2.5
                              _id: 66a0cd5e3fb7b2726f2b7c8c
                            - myFoodId: '42'
                              pceCount: 1
                              _id: 66a0cd5e3fb7b2726f2b7c8d
                          _id: 66a0cd5e3fb7b2726f2b7c8a
                          count_in_serving: 1
                        - calories: 99
                          carbs: 25.75
                          createdDate: '2024-06-07T13:16:39.000Z'
                          eatsTimes: 0
                          fat: 3.12
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: true
                          protein: 3.94
                          tag: ''
                          water: 172.75
                          weight: 200
                          id: '155'
                          image: Served Food
                          name: 'Apple Orange '
                          servingName: ''
                          foodList:
                            - myFoodId: '154'
                              pceCount: 1
                              _id: 66a0cd5e3fb7b2726f2b7d31
                            - myFoodId: '44'
                              pceCount: 1
                              _id: 66a0cd5e3fb7b2726f2b7d32
                          _id: 66a0cd5e3fb7b2726f2b7d30
                          count_in_serving: 1
                        - calories: 238
                          carbs: 0
                          createdDate: '2024-06-13T13:19:54.000Z'
                          eatsTimes: 3
                          fat: 18.8
                          isInFridge: true
                          isLiquid: false
                          isRemoved: false
                          isSet: false
                          protein: 21.1
                          tag: ''
                          water: 50.1
                          weight: 100
                          id: '204'
                          image: Served Food
                          name: Beef
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5e3fb7b2726f2b7d49
                          count_in_serving: 1
                        - calories: 42
                          carbs: 11
                          createdDate: '2024-05-23T14:57:27.000Z'
                          eatsTimes: 1
                          fat: 0
                          isInFridge: true
                          isLiquid: true
                          isRemoved: true
                          isSet: false
                          protein: 0
                          tag: ''
                          water: 89
                          weight: 330
                          id: '49'
                          image: Custom
                          name: Pepsi
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5e3fb7b2726f2b7d60
                          count_in_serving: 1
                        - calories: 47
                          carbs: 11.43
                          createdDate: '2024-06-16T22:44:36.000Z'
                          eatsTimes: 0
                          fat: 0.13
                          isInFridge: true
                          isLiquid: true
                          isRemoved: false
                          isSet: false
                          protein: 0.12
                          tag: Orange Water
                          water: 87
                          weight: 280
                          id: '19'
                          image: Custom
                          name: Apple juice
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5e3fb7b2726f2b7da5
                          count_in_serving: 1
                        - calories: 200
                          carbs: 60
                          createdDate: '2024-06-04T20:09:36.000Z'
                          eatsTimes: 0
                          fat: 10
                          isInFridge: true
                          isLiquid: false
                          isRemoved: false
                          isSet: false
                          protein: 5
                          tag: ''
                          water: 10
                          weight: 60
                          id: '128'
                          image: Served Food
                          name: crepe
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b7e9f
                          count_in_serving: 1
                        - calories: 285
                          carbs: 35.6
                          createdDate: '2024-05-23T21:42:18.000Z'
                          eatsTimes: 2
                          fat: 10.1
                          isInFridge: true
                          isLiquid: false
                          isRemoved: false
                          isSet: false
                          protein: 13.4
                          tag: ''
                          water: 55.8
                          weight: 100
                          id: '54'
                          image: Served Food
                          name: Pizza
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b7ec3
                          count_in_serving: 1
                        - calories: 0
                          carbs: 0
                          createdDate: '2024-06-05T09:38:33.000Z'
                          eatsTimes: 0
                          fat: 0
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 0
                          tag: ''
                          water: 0
                          weight: 100
                          id: '130'
                          image: Served Food
                          name: Not Found
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b7ee7
                          count_in_serving: 1
                        - calories: 18
                          carbs: 3.9
                          createdDate: '2024-05-23T21:43:47.000Z'
                          eatsTimes: 0
                          fat: 0.2
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 0.9
                          tag: ''
                          water: 94.5
                          weight: 100
                          id: '60'
                          image: Served Food
                          name: Tomato
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b7f0b
                          count_in_serving: 1
                        - calories: 0
                          carbs: 0
                          createdDate: '2024-06-05T09:38:59.000Z'
                          eatsTimes: 0
                          fat: 0
                          isInFridge: true
                          isLiquid: false
                          isRemoved: false
                          isSet: false
                          protein: 0
                          tag: ''
                          water: 100
                          weight: 1000
                          id: '132'
                          image: Served Food
                          name: Water
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b7f2f
                          count_in_serving: 1
                        - calories: 50
                          carbs: 10
                          createdDate: '2024-05-23T21:46:39.000Z'
                          eatsTimes: 0
                          fat: 1
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 1
                          tag: ''
                          water: 85
                          weight: 100
                          id: '71'
                          image: Served Food
                          name: Tomato sauce
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b7f53
                          count_in_serving: 1
                        - calories: 535
                          carbs: 58
                          createdDate: '2024-06-13T13:36:06.000Z'
                          eatsTimes: 0
                          fat: 31
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 6.3
                          tag: ''
                          water: 1.3
                          weight: 37
                          id: '214'
                          image: Served Food
                          name: Nutella
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b7f77
                          count_in_serving: 1
                        - calories: 200
                          carbs: 30
                          createdDate: '2024-06-03T18:04:12.000Z'
                          eatsTimes: 0
                          fat: 8
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 6
                          tag: ''
                          water: 60
                          weight: 100
                          id: '122'
                          image: Served Food
                          name: Crepe
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b7f9b
                          count_in_serving: 1
                        - calories: 20
                          carbs: 3
                          createdDate: '2024-06-13T13:38:00.000Z'
                          eatsTimes: 0
                          fat: 1
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 1
                          tag: ''
                          water: 95
                          weight: 50
                          id: '221'
                          image: Served Food
                          name: Mixed Salad
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b7fbf
                          count_in_serving: 1
                        - calories: 0
                          carbs: 0
                          createdDate: '2024-06-07T12:57:46.000Z'
                          eatsTimes: 0
                          fat: 0
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 0
                          tag: ''
                          water: 0
                          weight: 100
                          id: '144'
                          image: Served Food
                          name: Portable SSD
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b7fe3
                          count_in_serving: 1
                        - calories: 52
                          carbs: 14
                          createdDate: '2024-05-23T14:02:44.000Z'
                          eatsTimes: 0
                          fat: 0.2
                          isInFridge: true
                          isLiquid: true
                          isRemoved: true
                          isSet: false
                          protein: 0.3
                          tag: ''
                          water: 86
                          weight: 182
                          id: '32'
                          image: Custom
                          name: apple
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b802e
                          count_in_serving: 1
                        - calories: 49
                          carbs: 11.9
                          createdDate: '2024-05-24T22:10:51.000Z'
                          eatsTimes: 0
                          fat: 0.3
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 1.04
                          tag: ''
                          water: 60
                          weight: 121
                          id: '80'
                          image: served_meal 3
                          name: Valencia Orange
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5e3fb7b2726f2b7d77
                          count_in_serving: 1
                        - calories: 0
                          carbs: 0
                          createdDate: '2024-06-07T13:11:23.000Z'
                          eatsTimes: 0
                          fat: 0
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 0
                          tag: ''
                          water: 0
                          weight: 100
                          id: '151'
                          image: Served Food
                          name: unknown
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5e3fb7b2726f2b7d8e
                          count_in_serving: 1
                        - calories: 0
                          carbs: 0
                          createdDate: '2024-06-03T12:11:39.000Z'
                          eatsTimes: 0
                          fat: 0
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 0
                          tag: ''
                          water: 0
                          weight: 100
                          id: '116'
                          image: Served Food
                          name: Vase
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b809a
                          count_in_serving: 1
                        - calories: 19.1
                          carbs: 4.55
                          createdDate: '2024-06-10T12:55:00.000Z'
                          eatsTimes: 0
                          fat: 0
                          isInFridge: true
                          isLiquid: true
                          isRemoved: false
                          isSet: false
                          protein: 0
                          tag: ''
                          water: 100
                          weight: 330
                          id: '181'
                          image: served_meal 3
                          name: Спрайт
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b80be
                          count_in_serving: 1
                        - calories: 522.95
                          carbs: 71.46
                          createdDate: '2024-06-13T13:36:20.000Z'
                          eatsTimes: 1
                          fat: 21.47
                          isInFridge: true
                          isLiquid: false
                          isRemoved: false
                          isSet: true
                          protein: 12.030999999999999
                          tag: ''
                          water: 166.481
                          weight: 287
                          id: '217'
                          image: Served Food
                          name: 'Nutella Strawberries Crepes '
                          servingName: ''
                          foodList:
                            - myFoodId: '214'
                              pceCount: 1
                              _id: 66a0cd5f3fb7b2726f2b80e3
                            - myFoodId: '215'
                              pceCount: 1
                              _id: 66a0cd5f3fb7b2726f2b80e4
                            - myFoodId: '216'
                              pceCount: 1
                              _id: 66a0cd5f3fb7b2726f2b80e5
                          _id: 66a0cd5f3fb7b2726f2b80e2
                          count_in_serving: 1
                        - calories: 0
                          carbs: 0
                          createdDate: '2024-06-16T22:44:36.000Z'
                          eatsTimes: 1
                          fat: 0
                          isInFridge: false
                          isLiquid: true
                          isRemoved: false
                          isSet: false
                          protein: 0
                          tag: ''
                          water: 100
                          weight: 350
                          id: '22'
                          image: Custom
                          name: Custom
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b8109
                          count_in_serving: 1
                        - calories: 300
                          carbs: 40
                          createdDate: '2024-05-23T21:45:42.000Z'
                          eatsTimes: 0
                          fat: 10
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 15
                          tag: ''
                          water: 40
                          weight: 100
                          id: '67'
                          image: Served Food
                          name: Ham Sandwich
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b812d
                          count_in_serving: 1
                        - calories: 230
                          carbs: 0
                          createdDate: '2024-05-23T21:44:46.000Z'
                          eatsTimes: 0
                          fat: 15
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 26
                          tag: ''
                          water: 59
                          weight: 100
                          id: '64'
                          image: Served Food
                          name: Steak
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b8151
                          count_in_serving: 1
                        - calories: 77
                          carbs: 17
                          createdDate: '2024-05-23T21:43:47.000Z'
                          eatsTimes: 0
                          fat: 0.1
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 2
                          tag: ''
                          water: 79
                          weight: 100
                          id: '61'
                          image: Served Food
                          name: Potatoes
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b8175
                          count_in_serving: 1
                        - calories: 60
                          carbs: 13
                          createdDate: '2024-05-24T22:13:08.000Z'
                          eatsTimes: 0
                          fat: 0.3
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 1.2
                          tag: ''
                          water: 83
                          weight: 150
                          id: '81'
                          image: Served Food
                          name: Dragon Fruit
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b8199
                          count_in_serving: 1
                        - calories: 119
                          carbs: 13.5
                          createdDate: '2024-05-23T21:43:24.000Z'
                          eatsTimes: 0
                          fat: 10.1
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 2.7
                          tag: ''
                          water: 69.6
                          weight: 100
                          id: '57'
                          image: Served Food
                          name: Beetroot salad
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b81e7
                          count_in_serving: 1
                        - calories: 434
                          carbs: 54
                          createdDate: '2024-05-23T21:44:25.000Z'
                          eatsTimes: 0
                          fat: 18
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 15
                          tag: ''
                          water: 60
                          weight: 200
                          id: '63'
                          image: Served Food
                          name: Kimchi Ramen
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b820b
                          count_in_serving: 1
                        - calories: 47
                          carbs: 0
                          createdDate: '2024-05-24T22:23:14.000Z'
                          eatsTimes: 0
                          fat: 0
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 0
                          tag: ''
                          water: 0
                          weight: 100
                          id: '83'
                          image: Served Food
                          name: Orange
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b822f
                          count_in_serving: 1
                        - calories: 53
                          carbs: 0
                          createdDate: '2024-05-24T22:23:53.000Z'
                          eatsTimes: 0
                          fat: 0
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 0
                          tag: ''
                          water: 0
                          weight: 100
                          id: '85'
                          image: Served Food
                          name: Rasberry
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b8253
                          count_in_serving: 1
                        - calories: 0
                          carbs: 0
                          createdDate: '2024-06-07T13:09:30.000Z'
                          eatsTimes: 0
                          fat: 0
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 0
                          tag: ''
                          water: 0
                          weight: 100
                          id: '146'
                          image: Served Food
                          name: 'null'
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b8277
                          count_in_serving: 1
                        - calories: 181.5
                          carbs: 41.800000000000004
                          createdDate: '2024-05-23T14:19:23.000Z'
                          eatsTimes: 0
                          fat: 2.0500000000000003
                          isInFridge: true
                          isLiquid: false
                          isRemoved: false
                          isSet: true
                          protein: 2.65
                          tag: ''
                          water: 160
                          weight: 310
                          id: '48'
                          image: Served Food
                          name: 'Dragon Fruit blueberry '
                          servingName: ''
                          foodList:
                            - myFoodId: '31'
                              pceCount: 1
                              _id: 66a0cd5f3fb7b2726f2b829c
                            - myFoodId: '47'
                              pceCount: 1
                              _id: 66a0cd5f3fb7b2726f2b829d
                          _id: 66a0cd5f3fb7b2726f2b829b
                          count_in_serving: 1
                        - calories: 278
                          carbs: 68.9
                          createdDate: '2024-06-05T09:12:40.000Z'
                          eatsTimes: 0
                          fat: 0.07
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 0.37
                          tag: ''
                          water: 60
                          weight: 10
                          id: '129'
                          image: served_meal 3
                          name: Jams and Preserves
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b82c1
                          count_in_serving: 1
                        - calories: 227
                          carbs: 28.3
                          createdDate: '2024-06-03T12:40:35.000Z'
                          eatsTimes: 0
                          fat: 9.7
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 6.4
                          tag: ''
                          water: 60
                          weight: 200
                          id: '120'
                          image: served_meal 3
                          name: Crepe
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b82e5
                          count_in_serving: 1
                        - calories: 34
                          carbs: 8
                          createdDate: '2024-05-24T22:58:33.000Z'
                          eatsTimes: 0
                          fat: 2
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 1
                          tag: ''
                          water: 91
                          weight: 140
                          id: '92'
                          image: Served Food
                          name: melon
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b8309
                          count_in_serving: 1
                        - calories: 295
                          carbs: 33
                          createdDate: '2024-05-23T14:03:55.000Z'
                          eatsTimes: 0
                          fat: 12
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 15
                          tag: ''
                          water: 50
                          weight: 150
                          id: '35'
                          image: Served Food
                          name: Gamburger
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b832d
                          count_in_serving: 1
                        - calories: 265
                          carbs: 49
                          createdDate: '2024-05-23T14:00:59.000Z'
                          eatsTimes: 0
                          fat: 3
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 9
                          tag: ''
                          water: 35
                          weight: 100
                          id: '28'
                          image: Served Food
                          name: Bread
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b8351
                          count_in_serving: 1
                        - calories: 47
                          carbs: 11.8
                          createdDate: '2024-05-23T22:07:53.000Z'
                          eatsTimes: 2
                          fat: 0.12
                          isInFridge: true
                          isLiquid: false
                          isRemoved: false
                          isSet: false
                          protein: 0.94
                          tag: Dark Blue
                          water: 60
                          weight: 180
                          id: '75'
                          image: served_meal 3
                          name: Orange
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b8375
                          count_in_serving: 1
                        - calories: 0
                          carbs: 0
                          createdDate: '2024-05-24T22:27:18.000Z'
                          eatsTimes: 0
                          fat: 0
                          isInFridge: true
                          isLiquid: false
                          isRemoved: false
                          isSet: true
                          protein: 0
                          tag: ''
                          water: 0
                          weight: 0
                          id: '87'
                          image: Served Food
                          name: 'Apple Orange '
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b8399
                          count_in_serving: 1
                        - calories: 47
                          carbs: 12
                          createdDate: '2024-05-23T14:02:44.000Z'
                          eatsTimes: 0
                          fat: 0.1
                          isInFridge: true
                          isLiquid: true
                          isRemoved: true
                          isSet: false
                          protein: 1
                          tag: ''
                          water: 86
                          weight: 131
                          id: '33'
                          image: Custom
                          name: orange
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b83bd
                          count_in_serving: 1
                        - calories: 275
                          carbs: 50
                          createdDate: '2024-06-10T12:34:09.000Z'
                          eatsTimes: 0
                          fat: 5
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 8
                          tag: ''
                          water: 30
                          weight: 180
                          id: '178'
                          image: Served Food
                          name: Crepe
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b83e1
                          count_in_serving: 1
                        - calories: 400
                          carbs: 75
                          createdDate: '2024-06-17T14:43:27.000Z'
                          eatsTimes: 0
                          fat: 10
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 12
                          tag: ''
                          water: 60
                          weight: 300
                          id: '277'
                          image: Served Food
                          name: Kimchi Ramen
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b8405
                          count_in_serving: 1
                        - calories: 200
                          carbs: 20
                          createdDate: '2024-06-07T12:17:31.000Z'
                          eatsTimes: 0
                          fat: 10
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 5
                          tag: ''
                          water: 50
                          weight: 150
                          id: '142'
                          image: Served Food
                          name: Avocado Toast
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b8429
                          count_in_serving: 1
                        - calories: 539
                          carbs: 57.5
                          createdDate: '2024-06-13T14:06:57.000Z'
                          eatsTimes: 0
                          fat: 30.9
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 6.3
                          tag: ''
                          water: 30
                          weight: 100
                          id: '232'
                          image: served_meal 3
                          name: Nutella
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b844d
                          count_in_serving: 1
                        - calories: 42
                          carbs: 10.6
                          createdDate: '2024-06-12T20:59:39.000Z'
                          eatsTimes: 1
                          fat: 0
                          isInFridge: true
                          isLiquid: true
                          isRemoved: false
                          isSet: false
                          protein: 0
                          tag: ''
                          water: 89.4
                          weight: 100
                          id: '193'
                          image: Custom
                          name: Cola
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b8471
                          count_in_serving: 1
                        - calories: 0
                          carbs: 0
                          createdDate: '2024-06-05T09:38:50.000Z'
                          eatsTimes: 0
                          fat: 0
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 0
                          tag: ''
                          water: 0
                          weight: 100
                          id: '131'
                          image: Served Food
                          name: Not Found
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b8495
                          count_in_serving: 1
                        - calories: 100
                          carbs: 100
                          createdDate: '2024-05-27T22:09:00.000Z'
                          eatsTimes: 0
                          fat: 100
                          isInFridge: true
                          isLiquid: false
                          isRemoved: false
                          isSet: false
                          protein: 100
                          tag: ''
                          water: 10
                          weight: 200
                          id: '105'
                          image: served_meal 3
                          name: test serv
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b84b9
                          count_in_serving: 1
                        - calories: 208
                          carbs: 0
                          createdDate: '2024-06-13T13:28:45.000Z'
                          eatsTimes: 0
                          fat: 17
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 25
                          tag: ''
                          water: 55
                          weight: 100
                          id: '207'
                          image: Served Food
                          name: Lamb
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b84dd
                          count_in_serving: 1
                        - calories: 44
                          carbs: 11
                          createdDate: '2024-06-13T16:01:12.000Z'
                          eatsTimes: 0
                          fat: 0
                          isInFridge: true
                          isLiquid: true
                          isRemoved: true
                          isSet: false
                          protein: 0
                          tag: ''
                          water: 89
                          weight: 330
                          id: '234'
                          image: Custom
                          name: Fanta
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b8501
                          count_in_serving: 1
                        - calories: 530
                          carbs: 55
                          createdDate: '2024-06-03T18:05:04.000Z'
                          eatsTimes: 0
                          fat: 30
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 6
                          tag: ''
                          water: 5
                          weight: 30
                          id: '125'
                          image: Served Food
                          name: Nutella
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b8525
                          count_in_serving: 1
                        - calories: 58
                          carbs: 13.6
                          createdDate: '2024-05-27T22:48:46.000Z'
                          eatsTimes: 0
                          fat: 0.19
                          isInFridge: true
                          isLiquid: false
                          isRemoved: false
                          isSet: false
                          protein: 0.44
                          tag: ''
                          water: 60
                          weight: 55
                          id: '106'
                          image: served_meal 3
                          name: Smith Apple
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b8549
                          count_in_serving: 1
                        - calories: 530
                          carbs: 58
                          createdDate: '2024-06-03T11:43:42.000Z'
                          eatsTimes: 0
                          fat: 31
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 6.3
                          tag: ''
                          water: 1.3
                          weight: 37
                          id: '113'
                          image: Served Food
                          name: Nutella
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b856d
                          count_in_serving: 1
                        - calories: 0
                          carbs: 0
                          createdDate: '2024-06-07T13:08:20.000Z'
                          eatsTimes: 0
                          fat: 0
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 0
                          tag: ''
                          water: 0
                          weight: 45
                          id: '145'
                          image: Served Food
                          name: Apple AirPods Case
                          servingName: ''
                          foodList: []
                          _id: 66a0cd5f3fb7b2726f2b8591
                          count_in_serving: 1
                        - calories: 281.23
                          carbs: 71.38000000000001
                          createdDate: '2024-05-24T23:54:21.000Z'
                          eatsTimes: 0
                          fat: 8.335
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: true
                          protein: 4.596
                          tag: ''
                          water: 499.64
                          weight: 587
                          id: '99'
                          image: Served Food
                          name: 'Apple orange melon Banana '
                          servingName: ''
                          foodList:
                            - myFoodId: '50'
                              pceCount: 1
                              _id: 66a0cd5f3fb7b2726f2b85b6
                            - myFoodId: '33'
                              pceCount: 1
                              _id: 66a0cd5f3fb7b2726f2b85b7
                            - myFoodId: '97'
                              pceCount: 1
                              _id: 66a0cd5f3fb7b2726f2b85b8
                            - myFoodId: '98'
                              pceCount: 1
                              _id: 66a0cd5f3fb7b2726f2b85b9
                          _id: 66a0cd5f3fb7b2726f2b85b5
                          count_in_serving: 1
                        - calories: 250
                          carbs: 0
                          createdDate: '2024-05-27T10:29:17.000Z'
                          eatsTimes: 0
                          fat: 17
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 27
                          tag: ''
                          water: 61
                          weight: 85
                          id: '103'
                          image: Served Food
                          name: Meat
                          servingName: ''
                          foodList: []
                          _id: 66a0cd603fb7b2726f2b85dd
                          count_in_serving: 1
                        - calories: 32
                          carbs: 77
                          createdDate: '2024-06-03T12:37:20.000Z'
                          eatsTimes: 0
                          fat: 3
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 7
                          tag: ''
                          water: 90
                          weight: 100
                          id: '119'
                          image: Served Food
                          name: Strawberry
                          servingName: ''
                          foodList: []
                          _id: 66a0cd603fb7b2726f2b8601
                          count_in_serving: 1
                        - calories: 0
                          carbs: 0
                          createdDate: '2024-06-07T13:10:03.000Z'
                          eatsTimes: 0
                          fat: 0
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 0
                          tag: ''
                          water: 0
                          weight: 100
                          id: '148'
                          image: Served Food
                          name: 'null'
                          servingName: ''
                          foodList: []
                          _id: 66a0cd603fb7b2726f2b869c
                          count_in_serving: 1
                        - calories: 15
                          carbs: 3.6
                          createdDate: '2024-05-23T21:43:47.000Z'
                          eatsTimes: 0
                          fat: 0.2
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 0.6
                          tag: ''
                          water: 95.2
                          weight: 100
                          id: '59'
                          image: Served Food
                          name: Cucumber
                          servingName: ''
                          foodList: []
                          _id: 66a0cd603fb7b2726f2b86c5
                          count_in_serving: 1
                        - calories: 37
                          carbs: 9.56
                          createdDate: '2024-05-24T22:33:25.000Z'
                          eatsTimes: 0
                          fat: 0.02
                          isInFridge: true
                          isLiquid: true
                          isRemoved: false
                          isSet: false
                          protein: 0.07
                          tag: ''
                          water: 80
                          weight: 258
                          id: '89'
                          image: served_meal 3
                          name: Cola
                          servingName: ''
                          foodList: []
                          _id: 66a0cd603fb7b2726f2b871c
                          count_in_serving: 1
                        - calories: 0
                          carbs: 0
                          createdDate: '2024-06-10T12:01:21.000Z'
                          eatsTimes: 0
                          fat: 0
                          isInFridge: true
                          isLiquid: false
                          isRemoved: false
                          isSet: false
                          protein: 0
                          tag: ''
                          water: 0
                          weight: 20
                          id: '168'
                          image: Served Food
                          name: Tissues
                          servingName: ''
                          foodList: []
                          _id: 66a0cd603fb7b2726f2b8746
                          count_in_serving: 1
                        - calories: 110
                          carbs: 15
                          createdDate: '2024-05-23T21:45:42.000Z'
                          eatsTimes: 0
                          fat: 0
                          isInFridge: true
                          isLiquid: true
                          isRemoved: true
                          isSet: false
                          protein: 0
                          tag: ''
                          water: 85
                          weight: 200
                          id: '65'
                          image: Custom
                          name: Aperol Spritz
                          servingName: ''
                          foodList: []
                          _id: 66a0cd603fb7b2726f2b8770
                          count_in_serving: 1
                        - calories: 884
                          carbs: 0
                          createdDate: '2024-06-16T22:44:36.000Z'
                          eatsTimes: 0
                          fat: 100
                          isInFridge: true
                          isLiquid: false
                          isRemoved: false
                          isSet: false
                          protein: 0
                          tag: ''
                          water: 60
                          weight: 13.6
                          id: '1'
                          image: ''
                          name: Olive Oil (tablespoons)
                          servingName: ''
                          foodList: []
                          _id: 66a0cd603fb7b2726f2b879a
                          count_in_serving: 1
                        - calories: 143
                          carbs: 0.71
                          createdDate: '2024-05-24T21:46:32.000Z'
                          eatsTimes: 0
                          fat: 9.47
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 12.5
                          tag: ''
                          water: 60
                          weight: 40
                          id: '77'
                          image: served_meal 3
                          name: Poached Egg
                          servingName: ''
                          foodList: []
                          _id: 66a0cd603fb7b2726f2b87c4
                          count_in_serving: 1
                        - calories: 160
                          carbs: 26
                          createdDate: '2024-05-23T14:14:06.000Z'
                          eatsTimes: 0
                          fat: 3.5
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 4
                          tag: ''
                          water: 63
                          weight: 100
                          id: '42'
                          image: Served Food
                          name: Pancake
                          servingName: ''
                          foodList: []
                          _id: 66a0cd603fb7b2726f2b87ee
                          count_in_serving: 1
                        - calories: 0
                          carbs: 0
                          createdDate: '2024-06-07T13:11:36.000Z'
                          eatsTimes: 0
                          fat: 0
                          isInFridge: true
                          isLiquid: false
                          isRemoved: true
                          isSet: false
                          protein: 0
                          tag: ''
                          water: 0
[...]
